Repository puppypawpaw/Pawpaw_project_BE, pull requests merged in 2023-09, with the labels that each got.

#37 Feat: 객체 스토리지 구현 Feat: 유저 이미지 변경 기능 구현 Fix: 회원가입 비밀번호 확인 제거
  api/src/main/java/kr/co/pawpaw/api/ApiApplication.java
  api/src/main/java/kr/co/pawpaw/api/application/auth/SignInService.java
  api/src/main/java/kr/co/pawpaw/api/application/auth/SignUpService.java
  api/src/main/java/kr/co/pawpaw/api/application/file/FileService.java
  api/src/main/java/kr/co/pawpaw/api/application/user/UserService.java
  api/src/main/java/kr/co/pawpaw/api/config/auth/handler/OAuth2SuccessHandler.java
  api/src/main/java/kr/co/pawpaw/api/controller/user/UserController.java
  api/src/main/java/kr/co/pawpaw/api/dto/auth/SignUpRequest.java
  api/src/main/java/kr/co/pawpaw/api/dto/user/UserResponse.java
  api/src/main/java/kr/co/pawpaw/api/util/FileUtil.java
  api/src/main/java/kr/co/pawpaw/api/util/UrlUtil.java
  api/src/main/resources/application.yml
  api/src/test/java/kr/co/pawpaw/api/application/auth/SignUpServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/application/file/FileServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/application/user/UserServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/auth/SignUpRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/auth/SocialSignUpInfoResponseTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/user/UserResponseTest.java
  build.gradle
  common/src/main/java/kr/co/pawpaw/common/exception/auth/NotEqualPasswordConfirmException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/domain-rdb/build.gradle
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/storage/domain/File.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/storage/repository/FileRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/storage/service/command/FileCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/user/domain/UserImage.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/user/repository/UserImageRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/user/service/command/UserImageCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/user/service/query/UserImageQuery.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/storage/repository/FileRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/storage/service/command/FileCommandTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/user/repository/UserImageRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/user/service/command/UserImageCommandTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/user/service/query/UserImageQueryTest.java
  domain/domain-redis/src/main/java/kr/co/pawpaw/domainredis/auth/domain/OAuth2TempAttributes.java
  domain/domain-redis/src/test/java/kr/co/pawpaw/domainredis/auth/repository/OAuth2TempAttributesRepositoryTest.java
  domain/domain-redis/src/test/java/kr/co/pawpaw/domainredis/auth/service/command/OAuth2TempAttributesCommandTest.java
  infrastructure/feign-client/src/main/java/kr/co/pawpaw/feignClient/client/SmsClient.java
  infrastructure/object-storage/build.gradle
  infrastructure/object-storage/src/main/java/kr/co/pawpaw/objectStorage/config/StorageConfig.java
  infrastructure/object-storage/src/main/java/kr/co/pawpaw/objectStorage/repository/StorageRepository.java
  infrastructure/object-storage/src/main/java/kr/co/pawpaw/objectStorage/repository/StorageRepositoryImpl.java
  infrastructure/object-storage/src/main/resources/application-storage.yml
Labels: For : Backend, Priority : High

#41 댓글, 대댓글 CRUD, 게시글 리스트 조회, BoardLike 관련 클래스 패키지 이동
  api/src/main/java/kr/co/pawpaw/api/application/board/BoardService.java
  api/src/main/java/kr/co/pawpaw/api/application/boardlike/BoardLikeService.java
  api/src/main/java/kr/co/pawpaw/api/application/reply/ReplyService.java
  api/src/main/java/kr/co/pawpaw/api/controller/board/BoardRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/boardlike/BoardLikeRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/reply/ReplyController.java
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/reply/ReplyDto.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  common/src/main/java/kr/co/pawpaw/common/exception/reply/ReplyException.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/domain/Board.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/repository/BoardRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/repository/CustomBoardRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/service/query/BoardQuery.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/service/query/CustomBoardRepositoryImpl.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardlike/domain/BoardLikes.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardlike/repository/BoardLikesRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardlike/service/command/BoardLikeCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardlike/service/query/BoardLikeQuery.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/reply/domain/Reply.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/reply/repository/CustomReplyRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/reply/repository/ReplyRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/reply/service/command/ReplyCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/reply/service/query/CustomReplyRepositoryImpl.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/reply/service/query/ReplyQuery.java
Labels: For : API, For : Backend, Priority : High, Status : Completed, Type : Feature, Type : Fix

#43 FEAT: 채팅방 생성, 참가, 나가기 API 구현
  api/src/main/java/kr/co/pawpaw/api/application/auth/SignUpService.java
  api/src/main/java/kr/co/pawpaw/api/application/chatroom/ChatroomService.java
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomRequest.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomResponse.java
  api/src/test/java/kr/co/pawpaw/api/application/auth/SignUpServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/application/chatroom/ChatroomServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomResponseTest.java
  common/src/main/java/kr/co/pawpaw/common/exception/chatroom/IsNotChatroomParticipantException.java
  common/src/main/java/kr/co/pawpaw/common/exception/chatroom/NotAllowedChatroomLeaveException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/domain/Chatroom.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/domain/ChatroomCover.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/domain/ChatroomHashTag.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/domain/ChatroomParticipant.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/domain/ChatroomParticipantRole.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomCoverRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomHashTagJdbcRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomHashTagJdbcRepositoryImpl.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomHashTagRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomParticipantRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomCoverCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomHashTagCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomParticipantCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/query/ChatroomParticipantQuery.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/query/ChatroomQuery.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/common/repository/AddBatchCallback.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/common/repository/JdbcBatch.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/domain/ChatroomParticipantTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomCoverRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomHashTagJdbcRepositoryImplTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomHashTagRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomParticipantRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomCommandTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomCoverCommandTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomHashTagCommandTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomParticipantCommandTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/query/ChatroomParticipantQueryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/query/ChatroomQueryTest.java
  infrastructure/object-storage/src/main/resources/application-storage.yml
Labels: For : API, For : Backend, Priority : High

#45 [feat] 게시글 이미지 업로드, 조회, 삭제 기능 구현
  api/src/main/java/kr/co/pawpaw/api/application/board/BoardService.java
  api/src/main/java/kr/co/pawpaw/api/application/boardImg/BoardImgService.java
  api/src/main/java/kr/co/pawpaw/api/controller/boardImg/BoardImgRestController.java
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/boardImg/BoardImgDto.java
  common/src/main/java/kr/co/pawpaw/common/exception/board/BoardImgException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardImg/domain/BoardImg.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardImg/repository/BoardImgRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardImg/service/command/BoardImgCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/boardImg/service/query/BoardImgQuery.java
Labels: For : API, For : Backend, Priority : High, Status : Completed, Type : Feature

#49 Fix: 유저 정보 조회 api 수정 nullpointexception 수정
  api/src/main/java/kr/co/pawpaw/api/service/user/UserService.java
Labels: For : API, For : Backend, Priority : Ciritical

#51 Fix: 추천하는 채팅방 랜덤 정렬로 변경 Fix: 채팅방 참여시 뜨고있는 채팅방으로 설정안되어있으면 설정함
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/test/java/kr/co/pawpaw/api/application/chatroom/ChatroomServiceTest.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomCustomRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/TrandingChatroomRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/query/TrandingChatroomQuery.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomCustomRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/TrandingChatroomRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/service/query/TrandingChatroomQueryTest.java
Labels: For : API, For : Backend, Priority : High

#52 Fix: 뜨고있는 채팅방 id 기준 내림차순 정렬 Fix: jwt 빠르게 만료되던 버그 수정 Feat: 랜덤 기준 정렬 추가 추가
  api/src/main/java/kr/co/pawpaw/api/config/auth/provider/JwtTokenProvider.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/TrandingChatroomCustomRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/common/repository/OrderByRandom.java
Labels: For : API, For : Backend, Priority : Ciritical

#55 [feat] 게시글 검색 API 개발 및 스웨거 관련 코드추가
  api/src/main/java/kr/co/pawpaw/api/controller/board/BoardRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/boardImg/BoardImgRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/reply/ReplyController.java
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/boardImg/BoardImgDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/reply/ReplyDto.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  common/src/main/java/kr/co/pawpaw/common/exception/board/BoardException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/repository/BoardRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/repository/BoardRepositoryCustom.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/service/query/BoardQuery.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/board/service/query/BoardRepositoryCustomImpl.java
Labels: For : API, For : Backend, Priority : Medium, Status : Completed, Type : Feature, Type : Fix

#56 Feat: 채팅방 스케줄 삭제 API 등
  api/src/main/java/kr/co/pawpaw/api/AppRunner.java
  api/src/main/java/kr/co/pawpaw/api/aop/ChatroomRoleCheckAspect.java
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomScheduleController.java
  api/src/main/java/kr/co/pawpaw/api/controller/pet/PetController.java
  api/src/main/java/kr/co/pawpaw/api/controller/user/UserController.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/ChatroomDetailResponse.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleService.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/main/java/kr/co/pawpaw/api/service/file/FileService.java
  api/src/main/java/kr/co/pawpaw/api/service/user/UserService.java
  api/src/main/java/kr/co/pawpaw/api/util/user/UserUtil.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/user/UserServiceTest.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/dto/ChatroomParticipantResponse.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/dto/ChatroomScheduleParticipantResponse.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomParticipantCustomRepository.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/command/ChatroomScheduleCommand.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/chatroom/service/query/ChatroomParticipantQuery.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/storage/domain/File.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/storage/domain/FileType.java
  domain/domain-rdb/src/main/java/kr/co/pawpaw/domainrdb/storage/service/query/FileQuery.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomCustomRepositoryTest.java
  domain/domain-rdb/src/test/java/kr/co/pawpaw/domainrdb/chatroom/repository/ChatroomScheduleCustomRepositoryTest.java
Labels: For : API, For : Backend, Priority : High
