Repository puppypawpaw/Pawpaw_project_BE, pull requests merged in 2023-10, with the labels that each got.

#60 게시글을 북마크 등록, 삭제, 북마크 리스트 조회 기능 개발
  api/src/main/java/kr/co/pawpaw/api/controller/boardImg/BoardImgRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/bookmark/BookmarkRestController.java
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/service/bookmark/BookmarkService.java
  common/src/main/java/kr/co/pawpaw/common/exception/board/BookmarkException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/domain/Board.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/domain/Bookmark.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkRepositoryCustom.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/service/command/BookmarkCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/service/query/BookmarkQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/service/query/BookmarkRepositoryCustomImpl.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/repository/ReplyRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/service/query/ReplyQuery.java
Labels: For : API, For : Backend, Priority : Medium, Status : Completed, Type : Feature

#62 Fix: 소켓 서버 security url 수정 Fix: 채팅방 api 예시 추가 Feat: api log 추가
  api/build.gradle
  api/src/main/java/kr/co/pawpaw/api/config/LogbookConfig.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/ChatroomDetailResponse.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/ChatroomScheduleResponse.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomScheduleRequest.java
  api/src/main/resources/application-log.yml
  api/src/main/resources/application.yml
  docker/ecr-login.sh
  domain/dynamodb/build.gradle
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/dto/chat/ChatMessageDto.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomCoverResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomNonParticipantResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomParticipantResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomScheduleParticipantResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/TrendingChatroomResponse.java
  socket/src/main/java/kr/co/pawpaw/ws/config/SecurityConfig.java
Labels: For : API, For : Backend, Priority : High

#64 Feat: 채팅방 기본 조회 api 추가
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomSimpleResponse.java
Labels: For : API, For : Backend, Priority : High

#65 Fix: 채팅방 참여 API 수정 Fix: 채팅방 정보 조회 API 수정 Fix: 채팅방 스케줄 삭제 API 버그 픽스
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomScheduleController.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleService.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  common/src/main/java/kr/co/pawpaw/common/exception/chatroom/AlreadyChatroomScheduleParticipantException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomSimpleResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleParticipantRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/command/ChatroomScheduleParticipantCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/query/ChatroomQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/query/ChatroomScheduleParticipantQuery.java
Labels: For : API, For : Backend, Priority : High

#67 [feat] 마이페이지에서 마이 피드 보기
  api/src/main/java/kr/co/pawpaw/api/controller/board/BoardRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/boardImg/BoardImgRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/boardlike/BoardLikeRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/bookmark/BookmarkRestController.java
  api/src/main/java/kr/co/pawpaw/api/controller/reply/ReplyController.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  api/src/main/java/kr/co/pawpaw/api/service/reply/ReplyService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardRepositoryCustom.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/service/query/BoardQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/service/query/BoardRepositoryCustomImpl.java
Labels: For : API, For : Backend, Priority : Medium, Status : Completed, Type : Feature, Type : Fix

#68 [fix] 스웨거 코드 수정
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/reply/ReplyDto.java
Labels: For : API, For : Backend, Priority : Low, Status : Completed, Type : Fix

#70 Feat: 운영 CI 설정
  .github/workflows/gradle-publish-prod.yml
  api/build.gradle
  docker/ecr-login-dev.sh
  docker/ecr-login-prod.sh
  socket/build.gradle
Labels: For : Backend, For : CI/CD, Priority : High, Type : Feature

#78 채팅방 수정 및 파일 업로드 크기 제한 추가
  api/src/main/java/kr/co/pawpaw/api/config/handler/GlobalExceptionHandler.java
  api/src/main/java/kr/co/pawpaw/api/controller/auth/AuthController.java
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/controller/user/UserController.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/domain/Chat.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/domain/ChatType.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/dto/ChatMessageDto.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/repository/ChatRepository.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/service/command/ChatCommand.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/service/query/ChatQuery.java
  domain/dynamodb/src/test/java/kr/co/pawpaw/dynamodb/chat/service/query/ChatQueryTest.java
  domain/dynamodb/src/test/java/kr/co/pawpaw/dynamodb/repository/ChatRepositoryTest.java
  infrastructure/object-storage/src/main/resources/application-storage.yml
  socket/src/main/java/kr/co/pawpaw/ws/dto/chat/SendChatMessageRequest.java
  socket/src/main/java/kr/co/pawpaw/ws/handler/RedisSubscribeHandler.java
  socket/src/main/java/kr/co/pawpaw/ws/service/chat/ChatService.java
  socket/src/test/java/kr/co/pawpaw/ws/service/chat/ChatServiceTest.java
Labels: For : API, For : Backend, Priority : High

#79 HotFix: dynamodb 설정 수정
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/config/DynamoDBConfig.java
Labels: For : API, For : Backend, Priority : Ciritical

#81 [fix] 게시글과 댓글의 QueryDsl 구조변경, 게시글을 반환할 때 작성자의 프로필 정보, UserId도 반환하도록 추가
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardRepositoryCustom.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/service/query/BoardQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/repository/CustomReplyRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/repository/ReplyCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/repository/ReplyRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/service/query/CustomReplyRepositoryImpl.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/service/query/ReplyQuery.java
Labels: For : Backend, Priority : Low, Status : Completed, Type : Fix

#83 Fix: 채팅방 삭제 api 수정
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/TrendingChatroomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/command/TrendingChatroomCommand.java
Labels: For : API, For : Backend, Priority : High

#85 Fix: 채팅방 메시지 유형 추가 및 메시지 전송 추가
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/chat/domain/ChatType.java
  domain/dynamodb/src/main/java/kr/co/pawpaw/dynamodb/util/chat/ChatUtil.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/pet/domain/PetType.java
Labels: For : API, For : Backend, Priority : High

#87 Fix: 로그아웃 api 수정
  api/src/main/java/kr/co/pawpaw/api/config/auth/filter/JwtFilter.java
  api/src/main/java/kr/co/pawpaw/api/config/auth/repository/CookieAuthorizationRequestRepository.java
  api/src/main/java/kr/co/pawpaw/api/config/auth/service/CustomUserDetailService.java
  api/src/main/java/kr/co/pawpaw/api/config/handler/GlobalExceptionHandler.java
  api/src/main/java/kr/co/pawpaw/api/controller/auth/AuthController.java
  api/src/main/java/kr/co/pawpaw/api/service/auth/SignOutService.java
  api/src/main/java/kr/co/pawpaw/api/util/cookie/CookieUtil.java
  common/src/main/java/kr/co/pawpaw/common/exception/auth/AuthenticationException.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
Labels: For : API, For : Backend, Priority : Ciritical

#89 Fix: 회원가입 한줄소개 추가
  api/src/main/java/kr/co/pawpaw/api/dto/auth/SignUpRequest.java
  api/src/main/java/kr/co/pawpaw/api/dto/auth/SocialSignUpRequest.java
  api/src/test/java/kr/co/pawpaw/api/dto/auth/SignUpRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/auth/SocialSignUpRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/util/CookieUtilTest.java
Labels: For : API, For : Backend, Priority : High

#91 [feat] 특정 게시글의 정보를 반환하는 api 추가
  api/src/main/java/kr/co/pawpaw/api/controller/board/BoardRestController.java
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/reply/ReplyDto.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  api/src/main/java/kr/co/pawpaw/api/service/bookmark/BookmarkService.java
  api/src/main/java/kr/co/pawpaw/api/service/reply/ReplyService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/domain/Board.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/service/query/BoardQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkRepositoryCustom.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/service/query/BookmarkQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/repository/ReplyRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/reply/service/query/ReplyQuery.java
Labels: For : API, For : Backend, Priority : Medium, Status : Completed, Type : Feature

#93 [fix] 이미지 업로드 및 조회 코드, 북마크 등록과 조회 코드 수정, nullException 처리
  api/src/main/java/kr/co/pawpaw/api/controller/board/BoardRestController.java
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/dto/reply/ReplyDto.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  api/src/main/java/kr/co/pawpaw/api/service/bookmark/BookmarkService.java
  api/src/main/java/kr/co/pawpaw/api/service/reply/ReplyService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/domain/Board.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/service/query/BoardQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/repository/BookmarkRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/bookmark/service/query/BookmarkQuery.java
Labels: For : API, For : Backend, Priority : High, Status : Completed, Type : Fix

#95 Feat: 채팅방 검색 기능 구현, testcontainer 적용 등
  api/src/main/java/kr/co/pawpaw/api/config/handler/GlobalExceptionHandler.java
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomRequest.java
  api/src/main/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomWithDefaultCoverRequest.java
  api/src/main/java/kr/co/pawpaw/api/service/auth/SignUpService.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleService.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/main/java/kr/co/pawpaw/api/service/user/UserService.java
  api/src/test/java/kr/co/pawpaw/api/dto/chatroom/CreateChatroomResponseTest.java
  api/src/test/java/kr/co/pawpaw/api/service/auth/SignUpServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/user/UserServiceTest.java
  docker/docker-compose.yml
  domain/mysql/build.gradle
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/domain/Chatroom.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/domain/ChatroomHashTag.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomHashTagRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/TrendingChatroomCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/command/ChatroomHashTagCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/query/ChatroomQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/common/repository/CustomDialect.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/storage/service/query/FileQuery.java
  domain/mysql/src/main/resources/application-rdb.yml
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomDefaultCoverCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomDefaultCoverRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomParticipantCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomParticipantRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleParticipantRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/TrendingChatroomCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/TrendingChatroomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/common/MySQLTestContainer.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/email/repository/EmailLogRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/storage/repository/FileRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/term/repository/TermCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/term/repository/TermRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/term/repository/UserTermAgreeRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/user/repository/UserCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/user/repository/UserRepositoryTest.java
Labels: For : API, For : Backend, Priority : High
