Repository puppypawpaw/Pawpaw_project_BE, pull requests merged in 2023-11, with the labels that each got.

#97 Feat: Place 생성 및 검색 api 구현
  api/src/main/java/kr/co/pawpaw/api/AppRunner.java
  api/src/main/java/kr/co/pawpaw/api/controller/pet/PetController.java
  api/src/main/java/kr/co/pawpaw/api/controller/place/PlaceController.java
  api/src/main/java/kr/co/pawpaw/api/dto/place/CreatePlaceRequest.java
  api/src/main/java/kr/co/pawpaw/api/dto/position/PositionRequest.java
  api/src/main/java/kr/co/pawpaw/api/dto/position/PositionResponse.java
  api/src/main/java/kr/co/pawpaw/api/dto/user/UserResponse.java
  api/src/main/java/kr/co/pawpaw/api/service/place/PlaceService.java
  api/src/test/java/kr/co/pawpaw/api/dto/auth/SignUpRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/auth/SocialSignUpRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/position/PositionRequestTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/position/PositionResponseTest.java
  api/src/test/java/kr/co/pawpaw/api/dto/user/UserResponseTest.java
  api/src/test/java/kr/co/pawpaw/api/service/auth/SignUpServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/user/UserServiceTest.java
  domain/mysql/build.gradle
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/ChatroomResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/dto/TrendingChatroomResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/common/domain/Position.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/common/dto/PositionResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/common/repository/CustomDialect.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/common/util/QueryUtil.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/Place.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/PlaceType.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/ReviewInfo.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/dto/PlaceResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/query/PlaceQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/position/Position.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/user/domain/User.java
  domain/mysql/src/main/resources/application-rdb.yml
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomDefaultCoverCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomDefaultCoverRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomParticipantCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomParticipantRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleParticipantRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/TrendingChatroomCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/TrendingChatroomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/email/repository/EmailLogRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/service/query/PlaceQueryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/storage/repository/FileRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/term/repository/TermCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/term/repository/TermRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/term/repository/UserTermAgreeRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/user/repository/UserCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/user/repository/UserRepositoryTest.java
Labels: For : API, For : Backend, Priority : Medium

#99 Feat: 장소 리뷰 생성 API 구현 등
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/controller/place/PlaceController.java
  api/src/main/java/kr/co/pawpaw/api/dto/place/CreatePlaceReviewRequest.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomScheduleService.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  api/src/main/java/kr/co/pawpaw/api/service/place/PlaceService.java
  api/src/test/java/kr/co/pawpaw/api/service/chatroom/ChatroomServiceTest.java
  api/src/test/java/kr/co/pawpaw/api/service/place/PlaceServiceTest.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  common/src/main/java/kr/co/pawpaw/common/exception/place/AlreadyPlaceReviewExistsException.java
  common/src/main/java/kr/co/pawpaw/common/exception/place/NotFoundPlaceException.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomHashTagRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleParticipantRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/command/ChatroomHashTagCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/command/ChatroomScheduleCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/command/ChatroomScheduleParticipantCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/query/ChatroomQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/Place.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/PlaceReview.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/PlaceReviewImage.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/dto/PlaceReviewResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceReviewCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/query/PlaceQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/query/PlaceReviewQuery.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewCustomRepositoryTest.java
Labels: For : API, For : Backend, Priority : Medium

#101 [feat] 게시글 신고 및 신고취소 기능과 신고 누적 횟수 5회 이상 시 게시글이 조회되지 않는 기능 개발
  api/src/main/java/kr/co/pawpaw/api/controller/report/ReportController.java
  api/src/main/java/kr/co/pawpaw/api/service/report/ReportService.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  common/src/main/java/kr/co/pawpaw/common/exception/report/ReportException.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/domain/Board.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/report/domain/BoardReport.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/report/repository/ReportRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/report/service/command/ReportCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/report/service/query/ReportQuery.java
Labels: For : API, For : Backend, Priority : Low, Status : Completed, Type : Feature

#103 Feat: 장소 리뷰 삭제 API 구현 등
  api/src/main/java/kr/co/pawpaw/api/controller/place/PlaceController.java
  api/src/main/java/kr/co/pawpaw/api/dto/place/CreatePlaceReviewResponse.java
  api/src/main/java/kr/co/pawpaw/api/service/place/PlaceService.java
  api/src/test/java/kr/co/pawpaw/api/service/place/PlaceServiceTest.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  common/src/main/java/kr/co/pawpaw/common/exception/place/NotFoundPlaceReviewException.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/PlaceReview.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/dto/PlaceReviewImageResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/dto/PlaceReviewResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewImageRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceReviewCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceReviewImageCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/query/PlaceReviewQuery.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewImageRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewRepositoryTest.java
Labels: For : API, For : Backend, Priority : High

#106 [fix] 게시글 검색 로직 수정, 페이지 시작 번호 수정
  api/src/main/java/kr/co/pawpaw/api/controller/board/BoardRestController.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/repository/BoardRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/service/query/BoardQuery.java
Labels: For : API, For : Backend, Priority : Low, Status : Completed, Type : Fix

#108 Feat: 장소 북마크 생성 삭제 API 구현 등
  api/src/main/java/kr/co/pawpaw/api/controller/place/PlaceController.java
  api/src/main/java/kr/co/pawpaw/api/dto/place/CreatePlaceRequest.java
  api/src/main/java/kr/co/pawpaw/api/service/place/PlaceService.java
  api/src/test/java/kr/co/pawpaw/api/service/place/PlaceServiceTest.java
  common/src/main/java/kr/co/pawpaw/common/exception/common/ErrorCode.java
  common/src/main/java/kr/co/pawpaw/common/exception/place/AlreadyPlaceBookmarkExistsException.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/Place.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/PlaceBookmark.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/domain/PlaceImageUrl.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/dto/PlaceResponse.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceBookmarkRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceImageUrlRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceBookmarkCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/command/PlaceImageUrlCommand.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/query/PlaceBookmarkQuery.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepositoryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewImageRepositoryTest.java
Labels: For : API, For : Backend, Priority : High

#110 Fix: 채팅방 검색 paging 적용되도록 수정
  api/src/main/java/kr/co/pawpaw/api/controller/chatroom/ChatroomController.java
  api/src/main/java/kr/co/pawpaw/api/service/chatroom/ChatroomService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/service/query/ChatroomQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/common/repository/CustomDialect.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomCustomRepositoryTest.java
Labels: For : API, For : Backend, Priority : High

#112 [fix] updateFileUrl 메서드의 코드 수정, 도메인, Command, Query 클래스의 테스트 코드 작성
  api/src/main/java/kr/co/pawpaw/api/dto/board/BoardDto.java
  api/src/main/java/kr/co/pawpaw/api/service/board/BoardService.java
  api/src/main/java/kr/co/pawpaw/api/service/boardlike/BoardLikeService.java
  api/src/main/java/kr/co/pawpaw/api/service/bookmark/BookmarkService.java
  api/src/main/java/kr/co/pawpaw/api/service/report/ReportService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/board/domain/Board.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/boardlike/repository/BoardLikesRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/boardlike/service/query/BoardLikeQuery.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/report/repository/ReportRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/report/service/query/ReportQuery.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/board/domain/BoardTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/board/service/command/BoardCommandTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/board/service/query/BoardQueryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/boardlike/service/command/BoardLikeCommandTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/boardlike/service/query/BoardLikeQueryTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/reply/domain/ReplyTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/reply/service/command/ReplyCommandTest.java
  domain/mysql/src/test/java/kr/co/pawpaw/mysql/reply/service/query/ReplyQueryTest.java
Labels: For : Backend, Priority : Low, Status : Completed

#114 Fix: queryDsl transform 메서드 HikariPool connection leak 수정
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/chatroom/repository/ChatroomScheduleCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceReviewCustomRepository.java
  domain/mysql/src/main/resources/application-rdb.yml
Labels: For : API, For : Backend, Priority : Ciritical

#118 Fix: 장소 단일 조회 api 구현
  api/src/main/java/kr/co/pawpaw/api/controller/place/PlaceController.java
  api/src/main/java/kr/co/pawpaw/api/service/place/PlaceService.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/repository/PlaceCustomRepository.java
  domain/mysql/src/main/java/kr/co/pawpaw/mysql/place/service/query/PlaceQuery.java
Labels: For : API, For : Backend, Priority : High
